@import 'node_modules/bootstrap/scss/bootstrap';

body{
	background-color: $color-background;
	color: $color-text;
}

.row{
	max-width: 100%;
	width: 100%;
}

img{
	max-width: 100%;
}

ul{
	padding-left: 1.5em;
}

*{
	transition: all ease .5s;
}

.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
	@media screen and(min-width: 1200px) {
		max-width: 1380px;
	}
}

small{
	font-size: 80%;
}